<!DOCTYPE html>

<html>
	<head>
		<meta charset="UTF-8">
		<meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
		<title>LED Controller</title>
		<link rel="stylesheet" href="../static/styles.css">
		<script src="../static/script.js" defer></script>
	</head>
	<body>
		<div id = "container">
			<div id = "dpad">
				<button id = "dpad-u">^
				</button>
				<button id = "dpad-d">v
				</button>
				<button id = "dpad-l"><
				</button>
				<button id = "dpad-r">>
				</button>
			</div>
			
			<div id = "buttons">
				<button id = "button-a">A
				</button>
				<button id = "button-b">B
				</button>
				<button id = "button-x">X
				</button>
				<button id = "button-y">Y
				</button>
			</div>
		</div>
	</body>

</html>
