html, body{
  margin: 0;
  padding: 0;
}

#root {
  min-height:100vh;
  width:100%;
}
/* Main screen */
#container{
	display: flex;
	justify-content: space-between;

}

.screen-title{
  font-size : 20px;
  
}

#btn-fs{
  font-size : 15px;
  height : fit-content;
}

#header{
  text-align:center;
  margin: 0 auto;
}

button{
	background-color: blue;
	color:white;
	border: 3px solid black;
	border-radius: 3px;
  height:5rem;
  width:5rem;
  min-width:fit-content;
}

#dpad,#buttons{
	display: grid;
	grid-template-columns:repeat(3,1fr);
	grid-template-rows:repeat(3,1fr);
	width : 30vw;
	height : 75vh;
}

#dpad{
  padding : 5vw;
}

#buttons{
  padding : 5vw ;
}

#dpad-u, #btn-y{
	grid-row:1;
	grid-column:2;
}

#dpad-d, #btn-b{
	grid-row:3;
	grid-column:2;
}

#dpad-l, #btn-x{
	grid-row:2;
	grid-column:1;
}

#dpad-r, #btn-a{
	grid-row:2;
	grid-column:3;
}

/* Settings Screen */
#form-container{
  height:100vh;
  display:flex;
  flex-direction: column;
  align-items: center;
}

#settings-form{
  display:flex;
  flex-direction:column;
  background-color: blue;
  align-items:center;
  justify-content: space-evenly;
  height: 50%;
}

.form-question > label{
  font-weight: bold;
}

.form-question{
  padding: 10px;
}

.action > input{
  margin: 10px;
}


/* Paint Screen */

#paint-container{
  display:flex;
  flex-direction: column;
  align-items: center;

}

#paint-options{
  display:flex;
  justify-content: space-between;
  width: 100vw;
}

#paint-grid{
  display:grid;
  grid-template-columns: repeat(62,12px);
  grid-template-rows: repeat(62,12px);
  gap: 1px;
  border: 2px solid;
  padding: 4px;
  background-color:grey;
  width : fit-content;
  margin : auto;

}

.paint-button{
  background-color:var(--main-color,black);
  border: 2px solid grey;
  width:12px;
  height:12px;
  min-width:12px;
  min-height:12px;
  max-width:12px;
  max-height:12px;
  padding:0;
  
}






