#root {
  padding: 2rem;
}

#container{
	display: flex;
	justify-content: space-between;
	margin : 15px;
}

.screen-title{
  margin: auto;
  text-align:center;
}

button{
	background-color: blue;
	color:white;
	border: 3px solid black;
	border-radius: 3px;
}

#dpad,#buttons{
	display: grid;
	grid-template-columns:repeat(3,1fr);
	grid-template-rows:repeat(3,1fr);
	gap:10px;
	width : 40vw;
	height : 100vh;
  padding : 5vw;
}

#dpad-u, #btn-y{
	grid-row:1;
	grid-column:2;
}

#dpad-d, #btn-b{
	grid-row:3;
	grid-column:2;
}

#dpad-l, #btn-x{
	grid-row:2;
	grid-column:1;
}

#dpad-r, #btn-a{
	grid-row:2;
	grid-column:3;
}
